<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="hai" class="com_004.spring.autowirebytype.Hai">
<property name="msg" value="Welcome Spring3 lab4"/>
<property name="no" value="99"/>
</bean>

<bean id="aobj" class="com_004.spring.autowirebytype.A">
<property name="msg" value="Welcome Spring3 lab4"/>
</bean>

<bean id="hello" class="com_004.spring.autowirebytype.Hello" autowire="byType"/>
</beans>