<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- spring beans are singleton by default -->
	<bean id="sing" class="com_012.spring.beanscopes.SingletonScope"
		scope="singleton">
	</bean>

	<!-- prototype scopes creates seperate object for every getBean() call -->
	<bean id="proto" class="com_012.spring.beanscopes.PrototypeScope"
		scope="prototype">
	</bean>


<!-- 	<bean id="req" class="com_012.spring.beanscopes.RequestScope" -->
<!-- 		scope="request"> -->
<!-- 	</bean> -->

<!-- 	<bean id="ses" class="com_012.spring.beanscopes.SessionScope" -->
<!-- 		scope="session"> -->
<!-- 	</bean> -->

<!-- 	<bean id="gses" class="com_012.spring.beanscopes.GlobalSessionScope" -->
<!-- 		scope="globalsession"> -->
<!-- 	</bean> -->
</beans>