<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<bean id="ha1" class="com_005.spring.autowireconstructor.Hai">
<property name="msg" value="Welcome to  Spring3"/>
<property name="no" value="99"/>
</bean>

<bean id="aobj" class="com_005.spring.autowireconstructor.A">
<property name="msg" value="Welcome to  Spring3-A"/>
</bean>



<bean id="hai" class="com_005.spring.autowireconstructor.Hai">
<property name="msg" value="Welcome to Spring3 Tutorial -Hai"/>
<property name="no" value="99"/>
</bean>

<bean id="hello" class="com_005.spring.autowireconstructor.Hello" autowire="constructor"/>
</beans>