<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id ="baseHello" class="com_015.spring.beandefinationinheritance.Hello" abstract="true">
	<property name="x" value="10"/>
	<property name="str" value="hello guys"/>
</bean>

<bean id="h1" parent="baseHello">
	<property name="x" value="100"/>
	<property name="str" value="hello girls"/>
</bean>

<bean id="h2" parent="baseHello">
	<property name="x" value="200"/>
	<property name="str" value="hello All"/>
</bean>



</beans>