<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context">

<context:annotation-config/>

<bean id="bye" class="com_007.spring.annotationautowiring.Bye"/>

<bean id="hello" class="com_007.spring.annotationautowiring.Hello" p:a="99" p:str="Hello guys"/>

<bean id="hello1" class="com_007.spring.annotationautowiring.Hello" p:a="80" p:str="Hello people"/>

<bean id="hai" class="com_007.spring.annotationautowiring.Hai">
<constructor-arg value="90"/>
<constructor-arg value="Hai Folks"/>
</bean>

<bean id="hai1" class="com_007.spring.annotationautowiring.Hai">
<constructor-arg value="88"/>
<constructor-arg value="Hai Guys"/>
</bean>



<bean id="base" class="com_007.spring.annotationautowiring.Base"/>

</beans>